:root {
  --mainBlue: #2980b9;
  --mainWhite: white;
  --mainRed: red;
}

body {
	font-family: Roboto;
	background-image: linear-gradient(to right, #005AA7, #FFFDE4);
}

h1 {
	background: var(--mainBlue);
	color:var(--mainWhite);
	font-weight:normal;
	margin:0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 24px;
}

#clear {
	font-size: 18px;
	color:black;
	text-align: center;
	cursor: pointer;
}

#clear:hover {
	transition: 1s ease;
	filter:brightness(80%);
}

h2 {
	background: #a1c0ff;
	color:var(--mainWhite);
	font-weight:normal;
	margin:0;
	padding: 10px 20px;
	text-transform: uppercase;
	font-size: 20px;
	text-align: center;
}

#left {
	display: inline-block;
}

input {
	font-size: 18px;
	background: var(--mainWhite);
	width: 100%;
	padding: 13px 13px 13px 20px;
	box-sizing: border-box;
	color:var(--mainBlue);
	border:3px solid rgba(0, 0, 0, 0);
}

input:focus {
	background: var(--mainWhite);
	border: 3px solid var(--mainBlue);
	outline:none;
}

ul {
	list-style: none;
	padding: 0;
	margin:0;
}

li {
	background: var(--mainWhite);
	height: 40px;
	line-height: 40px;
	color:#666;
}

li:nth-child(2n){
	background: var(--mainWhite);
}

span {
	background: #e74c3c;
	height: 40px;
	margin-right:20px;
	text-align: center;
	color: var(--mainWhite);
	width: 0;
	display: inline-block;
	transition: 0.2s linear;
	opacity: 0;
	cursor: pointer;
}

li:hover span{
	width: 40px;
	opacity: 1;
}

#container {
	width:360px;
	margin:100px auto;
	box-shadow: 0 0 3px rgba(0,0,0, 0.1);
	background: var(--mainWhite);
}

.completed {
	color:gray;
	text-decoration: line-through;
}

.fa-plus {
	float:right;
}

.important {
	background: var(--mainRed);
	font-weight: bold;
	color:var(--mainWhite);
}

.important:nth-child(2n) {
	background: var(--mainRed);
	font-weight: bold;
	color:var(--mainWhite);
}

.colorH1{
	color:gold;
}
	